# Let printers have an ACL allowing rw for user lp, so CUPS backends running
# as user lp/group sys can access them.  This should be removed when CUPS is
# run with group 'lp' instead of 'sys', but it may not be trivial to handle
# on upgrades --spuk@2009-10-26

# Devices specifications copied from 69-printeracl.rules
KERNEL=="parport[0-9]*", GOTO="lp_user_fix_parport"
SUBSYSTEM=="printer", KERNEL=="lp*", GOTO="lp_user_fix_parport"
SUBSYSTEM=="ppdev", GOTO="lp_user_fix_parport"
SUBSYSTEM=="usb", ATTR{bInterfaceClass}=="07", ATTR{bInterfaceSubClass}=="01", GOTO="lp_user_fix"
KERNEL=="lp[0-9]*", GOTO="lp_user_fix_parport"
KERNEL=="irlpt[0-9]*", GOTO="lp_user_fix_parport"
GOTO="not_lp_user_fix"

LABEL="lp_user_fix"
ACTION=="add", RUN+="/usr/bin/setfacl -m user:lp:rw /dev/%P"
GOTO="not_lp_user_fix"

LABEL="lp_user_fix_parport"
ACTION=="add", RUN+="/usr/bin/setfacl -m user:lp:rw $env{DEVNAME}"

LABEL="not_lp_user_fix"

